{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
{% if app.user %}
    <div class="container border">
        <div class="m-3 p-5">
            <p class="lead text-center">You are logged in as 
                <span class="font-weight-bold font-italic">
                    <a class="text-decoration-none text-dark" href="#">
                        {{ app.user.username }}
                    </a>
                </span>
            </p>
        </div>
    </div>
{% endif %}
<div class="container my-3">
    <h1 class="bg-dark p-3 text-center text-white text-uppercase display-5">Available products</h1>
    <table class="my-3 table table-sm table-bordered table-striped table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Reference</th>
                <th scope="col">Category</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Warranty Date</th>
                <th scope="col">Price</th>
                <th scope="col">Maintenance</th>
                <th scope="col">Purchase Place</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.purchaseDate|date('Y-m-d') }}</td>
                    <td>{{ product.warrantyDate|date('Y-m-d') }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.maintenance }}</td>
                    <td>{{ product.purchasePlace }}</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}
